.v-application {
  .theme--light a {
    color: var(--v-font-base);
    transition: $primary-transition;

    &:hover {
      color: var(--v-primary-base);
    }
  }
}

.main-menu-drawer {
  &__container {
    padding-left: 64px;
    box-sizing: border-box;
    width: 100%;
  }

  .v-navigation-drawer__content {
    display: flex;
  }

  .v-list-item {
    min-height: 50px;

    &:before {
      background-color: transparent;
    }

    &__title {
      font-size: 32px;

      @media #{map-get($display-breakpoints, 'md-and-down')} {
        font-size: 28px;
      }

      @media #{map-get($display-breakpoints, 'xs-only')} {
        font-size: 22px;
      }
    }
  }

  .v-list-item--link {
    transition: $primary-transition;

    &:not(.v-list-item--disabled):hover {
      color: var(--v-primary-base);

      .v-icon {
        color: var(--v-primary-base);
        fill: var(--v-primary-base);
      }
    }
  }

  .v-icon {
    color: map-get($shades, "white");
    fill: map-get($shades, "white");
  }
}

.main-menu-drawer-items {
  margin: auto;
  width: 100%;
}

.social-links {
  .v-list-item {
    flex: 0 0 auto;
    padding: 0 12px;
  }
}

.v-btn {
  transition-property: box-shadow, transform, opacity, border-color, color, background-color;

  &.theme--light:before {
    background-color: map-get($shades, "black");
  }

  .theme--light & {
    color: var(--v-tertiary-base);

    .v-icon {
      color: currentColor;
      fill: currentColor;
    }
  }

  &.primary {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.25)) !important;

    &:hover {
      background-color: var(--v-primary-darken1) !important;
    }

    &:active,
    &:focus {
      background-color: var(--v-primary-darken2) !important;
    }
  }

  .theme--light &.v-btn--disabled.v-btn--has-bg {
    background-color: var(--v-disabled-base) !important;
    color: map-get($shades, "white") !important;
  }
}

.v-btn--fab {
  &.v-btn--outlined {
    border-color: transparent;

    &:before {
      background-color: transparent;
    }
  }

  &.lang-btn {
    width: 48px;
    height: 48px;
  }

  .theme--dark &:hover.v-btn--outlined {
    border-color: map-get($shades, "white");
  }

  .theme--dark &:hover:not(:active).v-btn--outlined {
    color: map-get($shades, "white") !important;
  }

  &.v-size--x-small.v-btn--absolute.v-btn--bottom {
    bottom: 16px;
  }
}

.v-btn--text {
  font-weight: map-get($font-weights, "regular");

  &:before {
    background-color: transparent !important;
  }

  &:hover {
    color: var(--v-primary-base);

    .v-icon {
      color: currentColor;
      fill: currentColor;
    }
  }
}

.logo {
  font-size: 30px;
  line-height: normal;
}

.v-toolbar {
  &__content {
    padding: 0;
    height: auto !important;
  }
}

.v-footer {
  font-size: 13px;

  &.theme--dark {
    background-color: var(--v-menu-base) !important;

    .copyright {
      color: var(--v-disabled-base) !important;
    }
  }
}

.v-menu {
  &__content {
    border: 1px solid var(--v-disabled-base);
    max-height: 106px !important;

    &::-webkit-scrollbar {
      width: 8px;
      background-color: white;
      border: 1px solid var(--v-disabled-base);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--v-tertiary-base);
      border: 2px solid transparent;
      border-radius: 5px;
      background-clip: content-box;
    }

    .v-select-list {
      padding: 5px 0;
    }

    .v-list-item {
      padding: 0 8px;
      min-height: unset;

      &::before {
        display: none;
      }

      &:hover {
        .v-list-item__title {
          color: var(--v-primary-base);
        }
      }

      &__title {
        color: var(--v-tertiary-base);
      }

      &__content {
        padding: 3px 0;
      }

      .theme--light &__mask {
        color: inherit;
        background: none;
      }
    }

    .v-list-item--active {
      .v-list-item__title {
        color: var(--v-primary-base);
      }
    }
  }
}

.mobile-menu-opener {
  z-index: 1;
}

.control-group {
  & &__label {
    font-weight: 300;
    font-size: 14px;
    color: var(--v-font-base);
    margin-right: 8px;
    display: inline-block;
    min-width: 100px;
    text-align: right;
  }

  &__label-title {
    font-weight: 300;
    font-size: 14px;
    color: var(--v-font-base);
    width: 100%;
    margin-bottom: 16px;

    &:not(:first-child) {
      margin-top: 16px;
    }
  }

  > .v-input__control > .v-input__slot {
    margin-bottom: 0;
  }

  & &__input {
    display: inline-block;
    padding-top: 0;
    margin-top: 0;
    min-width: 224px;

    > .v-input__control > .v-input__slot {
      &:after {
        border-width: 0px;
      }

      &:before {
        border-color: var(--v-tertiary-base) !important;
      }
    }

    .v-input__icon {
      min-width: 16px;
      width: 8px;
      height: 8px;
      padding-bottom: 4px;

      &--append {
        display: none;
      }
    }

    .v-icon__svg {
      height: 15px;
      width: 15px;
      color: var(--v-font-base) !important;
    }

    &.primary--text {
      color: var(--v-tertiary-base) !important;
    }

    &.v-text-field input {
      padding: 0 8px;
      font-size: 14px;
      line-height: 16px;
      color: var(--v-font-base);
      font-weight: 300;
    }

    .v-text-field__details {
      max-width: 224px;
    }
  }

  .theme--light .v-label {
    font-weight: 300;
    font-size: 14px;
    color: var(--v-tertiary-base);
  }

  .v-radio,
  .v-input--checkbox {
    .v-input--selection-controls {
      &__ripple {
        display: none;
      }

      &__input {
        width: auto;
      }
    }

    &.v-item--active .v-label {
      color: var(--v-font-base);
    }
  }

  .v-input--checkbox.v-input--is-label-active {
    .v-icon {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        display: block;
        transform: rotate(45deg);
        height: 15px;
        width: 8px;
        border-bottom: 3px solid black;
        border-right: 3px solid black;
        top: 2px;
        left: 7px;
      }
    }
  }

  .checkbox-pin {
    width: 15px;
    height: 15px;
  }
}

.date-range {
  display: flex;
  flex-wrap: wrap;

  .control-group__label {
    min-width: 20px;
  }

  .v-input {
    flex: unset;
  }
}

.checkbox-group {
  .v-input--selection-controls {
    margin-top: 0;
  }

  .v-input__slot {
    margin-bottom: 0;
  }

  .v-messages {
    min-height: 0;
  }
}

.v-card {
  &:before {
    display: none;
  }

  &:hover {
    border-color: var(--v-tertiary-base) !important;
  }

  &.v-item--active.primary {
    background-color: white !important;
    color: white;
  }

  &.v-sheet--outlined {
    border-color: var(--v-disabled-base);
  }

  & &__title {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--v-font-base);
  }

  & &__subtitle {
    font-size: 14px;
    color: var(--v-tertiary-base);
    line-height: 17px;
  }
}

.v-tabs-items .v-picker {
  border-radius: 0;
}

.v-tabs {
  .v-tabs-slider-wrapper {
    display: none;
  }

  .v-tab {
    font-size: 14px;
    font-weight: 500;
  }
}

@media #{map-get($display-breakpoints, 'xs-only')} {
  .control-group {
    margin-bottom: 8px;

    & &__label {
      min-width: unset;
      display: block;
      text-align: left;
    }
  }
  .btn-reserve {
    border-radius: 0;
    width: calc(100% + 32px);
    margin-left: -16px;
  }
}
