.container .v-stepper {
    overflow: initial;
}
.v-stepper .v-stepper__header {
    box-shadow: none;
    height: auto;
    margin: 0;
    justify-content: flex-start;
    position: relative;

    &::before,
    &::after {
        content: "";
        position: absolute;
        width: 100vw;
        height: 1px;
        background-color: var(--v-disabled-base);
        left: 50%;
        margin-left: -50vw;
    }

    &::before {
        top: 0;
    }

    &::after {
        bottom: 0;
    }

    .v-icon {
        color: var(--v-tertiary-base);
        fill: var(--v-tertiary-base);

        &__component {
            width: 8px;
            height: 8px;
        }
    }
}

.v-stepper__header {
    .v-stepper__step {
        padding: 8px 8px 8px 0;
        margin-right: 8px;

        &__step {
            display: none;
        }

        .theme--light.v-stepper & {
            .v-stepper__label {
                font-size: 14px;
                font-weight: 700;
                color: var(--v-tertiary-base);
                line-height: 16px;
                display: initial;

                > .v-icon {
                    position: relative;
                    right: -8px;
                }
            }

            &--active .v-stepper__label {
                color: var(--v-primary-base);
                text-shadow: none;
            }

            &--complete .v-stepper__label {
                color: var(--v-font-base);
            }
        }

        .theme--light.v-stepper &:hover {
            background: none;

            .v-stepper__label {
                text-shadow: none !important;
            }

            &.v-stepper__step--editable .v-stepper__label {
                color: var(--v-primary-base) !important;
            }
        }
    }
}

.v-stepper__items {
    .v-stepper__content {
        padding: 0;
    }
}

@media #{map-get($display-breakpoints, 'lg-and-up')} {
    .order-page {
        &__steps {
            max-width: calc(100% - 320px);
            flex: 0 0 calc(100% - 320px);
        }

        &__total {
            max-width: 320px;
        }
    }
}

.order-page {
    > .container,
    .v-stepper {
        height: 100%;
    }

    @media #{map-get($display-breakpoints, 'sm-and-up')} {
        &__total {
            border-left: 1px solid var(--v-disabled-base);
        }
    }
}

.order-totals {
    position: sticky;
    top: 24px;
    
    &__header {
        font-size: 18px;
    }

    & &__options {
        list-style-type: none;
        padding-left: 0;
    }

    &__options-item {
        position: relative;
        padding-bottom: 16px;

        .option-name {
            font-size: 14px;
            margin-right: 12px;
            max-width: 145px;
            text-align: left;
        }

        .option-divider {
            flex-grow: 1;
            border-bottom: 1px dotted var(--v-tertiary-base);
            margin-bottom: 6px;
        }

        .option-value {
            font-size: 14px;
            margin-left: 12px;
            max-width: 105px;
            text-align: right;
        }
    }

    &__button {
        width: 100%;
    }
}

.v-pagination {
    &__navigation {
        box-shadow: none;
        border: 1px solid var(--v-disabled-base);

        .v-icon__component {
            height: 16px;
            width: 24px;
        }
    }

    &__item {
        font-size: 16px;
        box-shadow: none;
        border: 1px solid var(--v-disabled-base);
    }
}
